<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">P2PSite</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-bag-fill-nav-menu" aria-hidden="true"></span> Procurement Requests
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payment">
                <span class="bi bi-credit-card-fill-nav-menu" aria-hidden="true"></span> Payment Requests
            </NavLink>
        </div>
    </nav>
</div>

